<footer>
    <nav class="footer_nav">
        <ul>
            <li><p>&copy; 2023 Segmentum Solar Tabletop Club</p></li>
            <li><a href="/about">About Us!</a></li>
            <li><a href="/contact">Contact Us!</a></li>
            <li>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </nav>
</footer>

</body>

</html>