<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/javascript/accordion.js"></script>
    <title>Project Ultramarine</title>
</head>

<body>

    <div class="container_top">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/images/Website_Branding_V3.png" alt="Site Logo">
                </a>
            </div>
            <nav class="user_nav">
                <ul>
                    <li><a href="events/newEvent">New Event</a></li>
                    <% if(!user){ %>
                        <li><a href='/users/new'>Sign Up</a></li>
                        <li><a href='/users/login'>Login</a></li>
                    <% } else { %>
                        <li><a href='/users/profile'>Profile</a></li>
                        <li><a href='/users/logout'>Logout</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
    
        <nav class="general_nav">
            <div class="header-divider"></div>
            <ul>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </div>

    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>