<%- include('./partials/header.ejs')%>

<main>
    <h2>About Us!</h2>
    <ul class="about_us_formatting">
        <li>
           The Segmentum Solar Tabletop Club is a non-profit organization that is dedicated to 
           providing a platform for Warhammer tabletop players to come together and plan 
           epic tabletop clashes! We plan to organize both Warhammer Fantasy and Warhammer 
           40k tabletop games here!
        </li>
        <li>We strive to make it easier for you to find and interact with fellow fans of the lore!</li>
        <li>
            Our site is dedicated to bringing together fans of all sections warhammer! From fanatasy 
            to 40k and we even plan to bring in 30k in due time!
        </li>
        <li>
            Check out some of the events currently scheduled on the <a href="/events">events page!</a>
        </li>
        <li><a href="/contact">Get in touch with us today,</a> We love hearing your suggestions on
            how we can improve the site to better meet your needs!
        </li>
    </ul>
</main>

<%- include('./partials/footer.ejs')%>