<%- include('./partials/header.ejs')%>

<main>
    <h2>Contact Us!</h2>
    <p>We love hearing your suggestions on
       how we can improve the site to better meet your needs!
    </p>
    <ul class="contact_list">
        <li>
            <a href="mailto:<segmentumSolarSupport@gmail.com>">segmentumSolarSupport@gmail.com<EMAIL></a>    
        </li>
    </ul>
</main>

<%- include('./partials/footer.ejs')%>