<%- include('./partials/header.ejs')%>

<main>
    <h2>Welcome to The Segmentum Solar Tabletop Club!</h2>
    <p>Here at The Segmentum Solar Tabletop Club we strive to create an environment where Warhammer 
       tabletop players can come together and plan epic tabletop clashes! We plan to 
       organize both Warhammer Fantasy and Warhammer 40k tabletop games here! 
       Welcome to our site! We hope that you find a tabletop game you want to join in on and 
       bring your armies to battle with us! </p>
</main>

<%- include('./partials/footer.ejs')%>